/* banner/header kind */

.row{
    margin: 0px !important;
    padding: 0px !important;
}

.background-img{
    height: 375px;
}

.background-img>img{
    width: 100%;
    height: 1700px;
}

.banner{
    padding: 0px !important;
    /* width: auto !important;
    max-width: auto !important; */
}

.menu_links{
    position: absolute;
    top: 20;
    right: 20;
    /* width: 50%; */
}

.menu_links>ul>li{
    display: inline-block;
}

.menu_links>ul>li>a{
    color: #ffffff;
    text-decoration:none;
    margin: 10px;
}

.menu_links>ul>li>a:hover{
    border-bottom: 2px solid #ffffff;
    /* padding-bottom: 0px !important; */
}

.img_me{
    position: absolute;
    left: 175px;
    top: 100px;
}

.dp{
    /* height: 150px; */
    /* position: absolute;
    left: 175px;
    top: 100px; */
    /* margin-top:40px; */
    float:left;
}

.dp>img{
    width: 100%;
    /* height: 250px;
    border-radius: 150px; */
}

.me{
    float:left;
    margin-left: 80px;
}

.me>h2{
    color: #ffffff;
    margin-top:20px;
    font-weight: 400;
    font-size: 30px;
}

.me>p{
    color:#ddd8d8;
    line-height: 1.5;
    margin-top: 25px;
}

.me>button{
    background-color:#ffffff;
    border:none;
    color:#242323;
    border-radius: 25px;
    padding: 2px 12px;
    box-shadow: 1px 1px 1px grey;
}

/* my skill css starts here */

.skill{
    margin-left: 8%;
    /* background-color:#ffffff; */
    border-radius: 2px;
    background-color: #595656;
    color: #ffffff;
    font-weight: 400;
    box-shadow: 2px 2px 2px #595656;
}

.carousel{
    width: 65% !important;
    /* margin-left:20%; */
    margin: 40px 20% 20px 20%;
}

.item{
    color: white;
    margin: 0px 40px;
}

.item>a>img{
    width: 6%;
    height: 120px;
    margin-left: 30px;
}

/* some of my work */

.work{
    margin-left: 9%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.work>a{
    width: 45%;
    margin-right: 20px;
    text-decoration: none;
}

.image{
    width: 100%;
    height: 300px;
}

/* my contacts */

.contacts{
    margin-top: 30px;
}

.location{
    margin-left: 12%;
    float: left;
}

.location>iframe{
    width: 100%;
    height: 300px;
}

.text_here{
    /* background-color: #ffffff; */
    float: left;
    height: 300px;
    margin-left: 3%;
    margin-top: 40px;
}

.name , .email , .query {
    width: 60%;
    margin: 10px 20px 20px 40px;
    /* color: black; */
    box-shadow: 1px 1px 1px #f5f0f0;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
}

.query{
    height: 100px;
}

.text_here>button{
    margin-top: 55px;
}

.social{
    margin: 15px 12px;
}

.social>ul>li{
    display: inline-block;
}

.line{
    color: #f8f8f8;
    width: 82%;
    margin-left: 8%;
}